@()

@main("Página de inicio") {
<h1>Sistema de gestión de bibliotecas USP CEU</h1>
}

<!DOCTYPE html>
<html lan="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
<h2>Bienvenido al sistema de gestión. </h2>
<h3> A continuación, puede navegar por los diferentes submenús: </h3>
<br>


<ul>

  <b> <p>Para acceder a la lista de usuarios pinche el siguiente botón: </p> </b>
  <form action="/usuarios" method ="GET" >
      <button id="obtenerUsuarios" type="submit">Mostrar usuarios</button>
    </form>

  <b> <p>Para acceder a la lista de reservas pinche el siguiente botón: </p> </b>
  <form action="/reservas" method ="GET" >
    <button id="obtenerReservas" type="submit">Mostrar reservas</button>
  </form>

  <b> <p>Para acceder a la lista de bibliotecas pinche el siguiente botón: </p> </b>
  <form action="/bibliotecas/" method ="GET" >
    <button id="obtenerBibliotecas" type="submit">Mostrar bibliotecas</button>
  </form>

</ul>
<hr>

</body>

</html>